<h1>Cart</h1>

<% if !@items.empty? %>
<center>
<table class = "cart-items">
  <tr>
    <th>Item</th>
    <th>Sold By</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @items.each do |item,quantity| %>
    <tr id= "cart-item-<%=item.id%>">
      <td>
        <p align = "center">
          <span>
            <img align = "center" id="cart-image" src= <%= item.image %>>
            <%=link_to item.name, "/items/#{item.id}" %>
          </span>
        </p>
      </td>
      <td>
        <p align = "center">
          <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%>
        </p>
      </td>
      <td>
        <p><%=number_to_currency(item.price)%></p>
      </td>
      <td>
        <center>
          <p><%=quantity%></p>
          <p><%= link_to "Remove", "/cart/#{item.id}",method: :delete %></p>
        </center>
        </td>
      <td>
        <p><%=number_to_currency(cart.subtotal(item))%></p>
    </td>
    </tr>
  <% end %>
</table>
  <p>Total: <%= number_to_currency(cart.total) %></p>
  <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
  <p><%= link_to "Checkout", "/orders/new", method: :get %></p>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
<table>
</center>
