<h1>Welcome, <%=@user.name%></h1>
<h2>Address: <%=@user.address%></h2>
<h2>City: <%=@user.city%></h2>
<h2>State: <%=@user.state%></h2>
<h2>Zip: <%=@user.zip%></h2>
<h2>Email: <%=@user.email%></h2>
<h2><%= link_to 'Edit Information', 'profile/edit', method: :get %></h2>
<h2><%= link_to 'Edit Password', 'profile/edit_password', method: :get %></h2>
