<h1 align = "center">Order</h1>
<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th>Sold By</th>
    <th>Inventory</th>
  </tr>
  <% cart.items.each do |item, quantity| %>
    <tr id='order-item-<%= item.id%>'>
      <td><h2><%= link_to item.name, "/items/#{item.id}" %></h2></td>
      <td><p><%= number_to_currency(item.price) %></p></td>
      <td><p><%= quantity %></p></td>
      <td><p><%= number_to_currency(cart.subtotal(item)) %></p><td>
      <td><p><%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %></p></td>
      <td><p><%= item.inventory %> in stock</p></td>
    </tr>
  <% end %>
</table>
<h3 align = "right">Total: <%= number_to_currency(cart.total)%></h3>
<center>
  <h2>Shipping Info:</h2>
  <%= form_tag "/orders", method: :create do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>

    <%= label_tag :address %>
    <%= text_field_tag :address %>

    <%= label_tag :city %>
    <%= text_field_tag :city %>

    <%= label_tag :state %>
    <%= text_field_tag :state %>

    <%= label_tag :zip %>
    <%= number_field_tag :zip %>

    <%= submit_tag 'Create Order' %>
  <% end %>
</center>
